.search-box {
    /*right: -1px;*/
    /*left: -1px;*/
    width: 100%;
    margin-top: 61px;
    position: fixed;
    z-index: 499;
    top: 0;
    padding: 7px;
    background: #024b68;
}

.search-box .form-control {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    /*padding: 29px 30px;*/
    /*border-left: 1px solid #eeeeee;*/
    /*border-right: 0;*/
    /*border-top: 0;*/
    /*border-bottom: 1px solid #eeeeee; */
}

.search-box .form-control-feedback {
    top: 21px;
    right: 18px;
}

@media (max-width: 768px) {
    .search-box {
        margin-top: 53px;
    }
}


/*-------animated search bar----------*/


/*.search-form .form-group {*/


/*float: right !important;*/


/*width: 38px;*/


/*height: 38px;*/


/*background-color: #fff;*/


/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/


/*border-radius: 25px;*/


/*border: 1px solid #ccc;*/


/*margin-top: 2px;*/


/*width: 300px;*/


/*}*/


/*.search-form .form-group input.form-control {*/


/*padding-right: 20px;*/


/*border: 0 none;*/


/*background: transparent;*/


/*box-shadow:none;*/


/*display:block;*/


/*width:100%;*/


/*}*/


/*.search-form .form-group span.form-control-feedback {*/


/*position: absolute;*/


/*top: -1px;*/


/*right: -2px;*/


/*z-index: 2;*/


/*display: block;*/


/*width: 40px;*/


/*height: 40px;*/


/*line-height: 40px;*/


/*text-align: center;*/


/*color: #3596e0;*/


/*left: initial;*/


/*font-size: 14px;*/


/*}*/