/*custom slider*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
.testimonials-row {
    border: 1px solid lightgrey;
    border-radius: 3px;
    background-color: #ffffff;
    overflow-x: hidden;
    font-family: roboto;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.slider-wrapper div {
    position: relative;
}

.slider-wrapper {
    margin-top: 3vw;
    margin-left: 3vw;
}

.slide-image {
    height: 24vw;
}

.slide-image img {
    width: 24vw;
    cursor: pointer;
}

.slide-content {
    width: 100vw;
    color: #000000;
    padding: 1vw 15vw 3vw 3vw;
}

.slide-date {
    color: #0a8acb;
    font-size: 1.1vw;
    font-weight: 400;
    letter-spacing: 0.1vw;
    padding-bottom: 1.4vw;
}

.slide-title {
    font-size: 1.2vw;
    font-weight: 400;
    letter-spacing: 0.1vw;
    line-height: 1.55vw;
    padding-bottom: 1.8vw;
}

.slide-text {
    font-size: 1.3vw;
    line-height: 1.5vw;
    opacity: 0.8;
    padding-bottom: 4vw;
}

.slide-more {
    font-weight: 400;
    letter-spacing: 0.1vw;
    float: left;
    font-size: 0.9vw;
}

.slide-bullet {
    width: 0.5vw;
    height: 0.5vw;
    background-color: #0b8bcc;
    border-radius: 200%;
    position: relative;
    margin-left: 1.2vw;
}

.slide-nav {
    margin-left: 64vw;
    margin-top: -5.5vw;
}

div.overlay-blue {
    width: 100%;
    /*height: 100%;*/
    position: absolute;
    top: 0;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

div.overlay-blue:hover {
    background-color: rgba(13, 27, 43, 0.5);
}

.arrows {
    width: 3.5vw;
    margin-top: -5.8vw;
    margin-left: 40vw;
    position: absolute;
}

.arrow {
    display: inline-block;
    position: absolute;
    width: 1.2vw;
    height: 1.2vw;
    background: transparent;
    text-indent: -9999px;
    border-top: 0.15vw solid #303030;
    border-left: 0.15vw solid #303030;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    text-decoration: none;
    color: transparent;
}

.arrow:hover {
    border-color: #0A8ACB;
    border-width: 0.25vw;
}

.arrow:before {
    display: block;
    height: 200%;
    width: 200%;
    margin-left: -50%;
    margin-top: -50%;
    content: "";
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.arrow.prev {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 0;
}

.arrow.next {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 0;
}