body{
				background-color: #ccc;
			}
			.container #mainRow{
				border: 2px solid black;
				/*height: 442px;*/
				/*width: 1148px;*/
				background-color: #fff;
			}
		#topFooter{
			height: 100%;
		}
		#line{
			color: blue;
		}
		h5{
			font-weight: bold;
			font-size: 24px;
		}
		#socialmedia {
			height: 100px;
		}
		.col-sm-2 img{
			height: 75px;
			margin-left: -34px;
		margin-top: -9px;
		}


		#medicineCategoryHolder li{
			list-style: none;
		}
		#downloadRequest h5{
			height: 120px;
		}

		@media (max-width: 880px) {
			#footerHolder{
				width: 200px;
			}

