.txt_blue {
    color: #00b6c2;
}

.headingtxt_single {
    font-size: 32px;
    font-weight: 200;
    line-height: 66px;
    font-family: open_sanslight;
    color: #231f20;
}

.headingtxt_single i {
    float: left;
    background: #00b6c2;
    color: white;
    border-radius: 39px;
    height: 50px;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 8px;
}

.ords {
    border: 1px solid #09b9c3;
    height: auto;
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    font-family: open_sansregular, Arial, sans-serif;
}

//left side of orders
.ords_tab {
    width: 20%;
    padding: 0;
    @media (max-width: 768px) {
        width: 100%;
    }
    ul {
        margin-bottom: 0;
        padding: 0;
    }
    li {
        border-bottom: #cbcbcb solid 1px;
        list-style: none;
        button {
            text-decoration: none;
            line-height: 22px;
            font-size: 16px;
            border: #FFF solid 1px;
            color: #333;
            background: 0 0;
            width: 100%;
            text-align: left;
            padding: 10px 0 10px 15px;
            font-family: open_sanslight, Arial, sans-serif;
            &:hover {
                text-decoration: none;
                line-height: 22px;
                background: #00b6c2;
                border: #fff solid 1px;
                color: #FFFFFF;
            }
        }
    }
}

//right side of order tab
.ords_details {
    width: 80%;
    border-left: 1px solid #09b9c3;
    min-height: 451px;
}

.ords_details_in {
    width: 100%;
    margin: 7px;
}

.ords_cinfo {
    padding: 0;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #afe6e9;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
    //margin-right: 6px;
    word-break: break-all;
}

.ords_cinfo_h1 {
    background: none repeat scroll 0 0 #afe6e9;
    border: 1px solid #fff;
    color: #000;
    font-size: 15px;
    padding: 4px 0 5px 10px;
    width: auto;
    font-weight: 600
}

.ords_cinfo_gry {
    color: #656565
}

.ords_cinfo_inner {
    margin: 0 5px 0 10px;
    height: auto;
    font-size: 14px;
    color: #00b6c2;
    display: inline-block;
    line-height: 30px;
    padding-right: 10px;
    width: 97%;
}

.ords_btns {
    background: none repeat scroll 0 0 #00b6c1;
    color: #fff;
    font-size: 15px;
    margin: 13px auto;
    padding: 4px 15px;
    text-align: center;
    border: none;
    text-transform: uppercase;
    font-family: open_sansregular, Arial, sans-serif;
    border-radius: 0;
}

.ords_cinfo_mid {
    padding: 0;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #afe6e9;
    height: auto;
    width: 220px;
    margin: 0 6px 10px 0;
    word-break: break-all
}

.ords_cinfo_mid1 {
    padding: 0;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #afe6e9;
    height: auto;
    min-width: 49.5%;
    margin: 0 6px 10px 0;
    word-break: break-all
}

// prescription section
#uplodspit {
    border-bottom: 1px solid #b5eaed;
}

.ords_details .form-group {
    margin-bottom: 20px;
}

.form-horizontal .form-group,
.row {
    margin-right: 0;
    margin-left: 0;
}

.notes_req {
    font-size: 13px;
    font-family: open_sansregular, Arial, sans-serif;
}

.ords_in7 {
    border: 0 solid #ccc;
    overflow: hidden;
    width: 92%;
}

.ords_in7 label select {
    background-color: transparent;
    width: 100%;
    height: 33px;
    line-height: 1.42857;
    border: 1px solid #00b6c1;
    color: #00b6c2;
}

.file-upload-con {
    font-size: 11px;
    height: 30px;
    width: 106px;
    float: left;
    cursor: pointer;
}

.ords_btns_upload {
    background: scroll 118px center #00b6c1;
    padding: 0 40px 0 13px;
    color: #fff;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    border: none;
    text-transform: uppercase;
    height: 26px;
    font-family: open_sanssemibold;
    margin-bottom: 10px;
}

.file-upload input[type=file] {
    //margin: 0 0 0 22px;
    width: 75px;
    height: 18px!important;
    //opacity: 0;
    border: none;
    overflow: hidden;
}

//account modal
#accInfo,
#personalInfo,
#billingInfo,
#deliveryInfo {
    .modal-body {
        padding: 0px;
    }
}

.popup {
    background: #ecf7f9 none repeat scroll 0 0!important;
    display: block;
    margin: 0;
    position: relative;
    text-shadow: none;
    color: #444;
    font-size: 13px;
}

.mgn10 {
    top: 20px;
}

.lft-marg {
    border-left: 1px solid #d2d2d2;
    margin-bottom: 15px;
}