@import "https://fonts.googleapis.com/css?family=Raleway";
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,700");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
.background_white {
  background: #ffffff; }

/*default*/
body {
  background: #CBDBD7;
  color: #333; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  color: #333; }

a:hover {
  text-decoration: none;
  color: #333; }

/*headings*/
.h4, .answer_content .answer_user .user_info h4 {
  margin: 0;
  font-size: 1.2em; }

.truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis; }

.paginate-icons {
  background: #ffffff;
  text-align: center; }

/*start forum left section*/
.forum_left {
  background: #ffffff;
  padding-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px; }
  .forum_left .forum_left_header {
    position: relative; }
    .forum_left .forum_left_header a {
      position: absolute;
      top: 0;
      right: 0; }
  .forum_left li {
    font-family: 'PT Sans', sans-serif;
    padding: 3px 5px;
    border-radius: 3px;
    margin-bottom: 2px; }
    .forum_left li a:hover {
      color: #0075B0; }
  .forum_left li.active {
    background: lightgray; }

.editablelistitem {
  position: relative; }
  .editablelistitem:before {
    content: '';
    width: 6px;
    height: 6px;
    background: #2b6dad;
    border-radius: 50%;
    position: absolute;
    left: -12px;
    top: 9px; }

/*end forum left section*/
/*start forum middle section*/
.forum_middle {
  padding: 0 20px; }

.whts-ur-question-card {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 2rem #babbbc;
  box-shadow: 0 0 2rem #babbbc; }

.whts-ur-question-card .photo,
.profile .content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.whts-ur-question-card .photo {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 5px solid #fafafa;
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 .5rem #babbbc;
  box-shadow: 0 0 .5rem #babbbc; }

.whts-ur-question-card .photo img {
  width: 100%; }

.whts-ur-question-card .content {
  padding: 10px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; }

.whts-ur-question-card .content .text {
  margin-top: 20px;
  margin-left: 16%; }
  .whts-ur-question-card .content .text h4,
  .whts-ur-question-card .content .text h2 {
    margin: 3px 0;
    letter-spacing: .5px;
    white-space: nowrap; }
  .whts-ur-question-card .content .text h4 a:hover {
    text-decoration: underline; }
  .whts-ur-question-card .content .text h2 {
    font-family: "Crimson Text", serif;
    font-weight: 700; }
    .whts-ur-question-card .content .text h2 a:hover {
      color: #0075B0; }

.whts-ur-question-card .content .btn {
  background-color: #abc;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 8%;
  top: 25px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-animation: pop-btn .3s both ease-in-out .5s;
  animation: pop-btn .3s both ease-in-out .5s; }
  .whts-ur-question-card .content .btn:hover {
    -webkit-box-shadow: 0 0 0 5px rgba(170, 187, 204, 0.5);
    box-shadow: 0 0 0 5px rgba(170, 187, 204, 0.5); }

.whts-ur-question-card .content .btn span::before {
  content: '\f128';
  font-family: FontAwesome;
  background-color: transparent;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  font-size: 2em;
  color: #ffffff; }

#questionModal .photo {
  float: left;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%; }
  #questionModal .photo img {
    width: 100%; }
#questionModal .text {
  color: #BDC3C7; }
#questionModal input {
  height: 40px;
  width: 100%;
  font-size: 22px;
  overflow: hidden;
  word-wrap: break-word; }
#questionModal input::-webkit-input-placeholder {
  font-size: 22px;
  color: #D2D7D3;
  font-weight: 600; }
#questionModal input:-ms-input-placeholder {
  font-size: 22px;
  color: #D2D7D3;
  font-weight: 600; }
#questionModal input::placeholder {
  font-size: 22px;
  color: #D2D7D3;
  font-weight: 600; }

/*start forum right section*/
.checklist,
.relatedQuestionLists {
  border: 1px solid #D2D7D3;
  font-family: "Raleway", "Microsoft JhengHei", Arial, sans-serif; }
  .checklist .improve_your_feed,
  .checklist .relatedQuestionText,
  .relatedQuestionLists .improve_your_feed,
  .relatedQuestionLists .relatedQuestionText {
    background: #024B68;
    color: #ffffff;
    padding: 20px 5px;
    text-align: center; }
  .checklist .steps_container,
  .relatedQuestionLists .steps_container {
    background: #ffffff; }
    .checklist .steps_container ul li,
    .relatedQuestionLists .steps_container ul li {
      padding: 8px 16px; }
      .checklist .steps_container ul li a,
      .relatedQuestionLists .steps_container ul li a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .checklist .steps_container ul li a i,
        .relatedQuestionLists .steps_container ul li a i {
          margin-right: 5px; }
    .checklist .steps_container .underline-on-hover li a:hover,
    .relatedQuestionLists .steps_container .underline-on-hover li a:hover {
      text-decoration: underline; }

/*end forum right section*/
/*start feed card section*/
.feedstory {
  position: relative;
  padding: 20px 15px 10px;
  margin: 10px 5px;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #efefef; }
  .feedstory .featured_title h4 {
    margin: 0;
    font-size: 1em;
    color: #95A5A6; }
  .feedstory .question_section h3 {
    margin: 10px 0px;
    font-family: "Crimson Text", serif;
    font-weight: 700; }
    .feedstory .question_section h3 a:hover {
      text-decoration: underline; }

.answer_content .answer_user .user_photo {
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px; }
  .answer_content .answer_user .user_photo img {
    width: 100%; }
.answer_content .answer_user .user_info h4 {
  margin: 10px 0px; }
.answer_content .answer_user .user_info .user_name {
  font-size: 18px; }
  .answer_content .answer_user .user_info .user_name a {
    font-family: "Crimson Text", serif;
    color: #22313F; }
    .answer_content .answer_user .user_info .user_name a:hover {
      text-decoration: underline; }
.answer_content .answer_user .user_info .user_reply_time a {
  color: #999;
  font-size: 13px; }
.answer_content .answer_user .user_info .user_reply_time a:hover {
  text-decoration: underline; }
.answer_content .answer_body_preview {
  margin: 20px 0px 10px; }
  .answer_content .answer_body_preview h4 {
    font-family: "Crimson Text", serif;
    font-size: 1.3em;
    line-height: 1.3em;
    letter-spacing: 0.5px; }

/*end forum middle section*/
.main_feed {
  border: 1px solid #efefef;
  background-color: #fff;
  border-radius: 4px;
  margin: 0 10px 8px 10px;
  border-bottom: 1px solid #e2e2e2; }
  .main_feed .section_header {
    padding: 10px 0px;
    border-bottom: 1px solid red;
    font-size: 18px; }
  .main_feed .storybundle {
    border-bottom: 1px solid #e2e2e2; }
  .main_feed .question_footer h4 {
    font-size: 12px; }

.question_actionbar .primary_btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity ease-in-out 100ms, color ease-in-out 100ms, background-color ease-in-out 100ms, border-color ease-in-out 100ms;
  transition: opacity ease-in-out 100ms, color ease-in-out 100ms, background-color ease-in-out 100ms, border-color ease-in-out 100ms;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.2);
  box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.2);
  display: inline-block;
  font-weight: 500;
  outline: 0;
  padding: 3px 7px 4px 7px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #f1f8fb;
  color: #2b6dad;
  border: 1px solid #bbcadc;
  margin-right: 5px; }
  .question_actionbar .primary_btn:focus {
    background: #f6f6f6;
    color: #999; }
.question_actionbar .secondary_btn {
  text-decoration: underline;
  color: #999; }

.shareIcons a {
  color: #999; }

/*start forum article left section*/
.forum-article_left {
  padding-top: 10px;
  margin-bottom: 10px; }
  .forum-article_left .questionPage_header {
    margin-bottom: 25px; }
  .forum-article_left .question_text {
    font-family: "Crimson Text", serif; }
    .forum-article_left .question_text h3 {
      font-weight: 700; }
  .forum-article_left .actionBar {
    margin-top: 10px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .forum-article_left .answer_content .occupation {
    font-family: "Crimson Text", serif; }
  .forum-article_left .answer_content:after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: #e2e2e2;
    margin-top: 20px;
    margin-bottom: 30px; }

/*end forum article left section*/
/*start forum article right section*/
.relatedQuestionLists .steps_container li a {
  color: #0075B0; }

/*end forum article right section*/
.pagination {
  margin: 10px 0; }

footer {
  background: #024B68;
  border: 1px solid lightgrey;
  padding: 5px 10px;
  margin: 5px 0 0;
  color: #ffffff; }

/*# sourceMappingURL=forum_style.css.map */
