
$line-height-base: 1.7;

// position
$position-fixed: fixed;
$position-absolute: absolute;
$position-relative: relative;

// value
$value-0: 0;
$value-10: 10px;
$value-20: 20px;
$value-30: 30px;
$value-full: 100%;

// color/
$color-white: #fff;
$color-soft-white:#f5f5f5;
$color-blue: #024b68;
$color-light-blue: #51cccf;
$color-sky-blue: #0160a6;
$color-yellow: #f7931e;
$color-red: #f33;

$color-gray: #464646;
$color-gray-soft: #ccc;
$color-gray-light: #7e7e7e;
$color-gray-dark: #121212;
$color-gray-dark-more:#333333;
$color-transparent: transparent;
$line-color: #eeeeee;

// number
$num: 10;



// font
$font-weight-normal: 400;
$font-weight-normal-italic: 400i;
$font-weight-semi-bold: 600;
$font-weight-semi-bold-italic: 600i;
$font-weight-bold: 700;
$font-weight-bold-italic: 700i;
$font-weight-extra-bold: 800;
$font-weight-extra-bold-italic: 800i;
$text-upper: uppercase;
$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 14px;


$default: inherit;


$text-center:center;





